.menu{
  background-color: black;
  width: 125px;
}
button{
  background-color: gray;
  height: 40px;
  width: 100%;
  margin-top: 2px;
  margin-bottom: 2px;
  border: 0;
  color: white;
}
.main{
  height: fit-content;
}
.internal{
  width: 90%;
  float: right;
}
