img{
  height: 100px;
  width: 100px;
}
.albuns{
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  height: fit-content;

}
.directory{
 height: 150px;
 width: 150px;
 display: grid;
 place-items: center;
 grid-template-columns: 1fr;
 grid-template-rows: 1fr 1fr;
}
