/* You can add global styles to this file, and also import other style files */
*{
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: 'MyriadPro-Regular', sans-serif, "Trebuchet MS", Arial, Geneva, Helvetica;
}

:root{
  --cor-secundaria: #024c6f;
  --cor-primaria: #005982;
  --ativo:#024a6b;
}
