body{
  display: flex;
  flex-direction: row;
}
.menu{
  background-color: #024c6f;
  width: 125px;
}
.conteudo{
  background-color: white;
  width: 100%;
}
button{
  height: 40px;
  width: 125px;
  background-color: #005982;
  margin-top: 2px;
  margin-bottom: 2px;
  border: 0;
  color: white;
  text-align: center;
}
.active{
  background-color: #024a6b;
}
input{
  height: fit-content;
}
